@import '@/global';

.button{
    color: white !important;
    text-transform: none;

    width: 82.63px;
    height: 32px;
    border-radius: 30px;

    background-image: linear-gradient(to bottom right, #a248b7, #c12b8a, #df4aa9);
}