@import '@/global';

.button{
    color: white !important;
    text-transform: none;

    display: flex;
    width: 95%;
    border-radius: 30px;

    background-image: linear-gradient(to bottom right, #a248b7, #c12b8a, #df4aa9);
}
